.fd_button {
    &_0 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;

        padding: 5px 15px;
        border: 2px solid var(--gold);
        border-radius: 100px;

        color: var(--light);

        background-color: var(--primary);

        img {
            width: 20px;
            height: 20px;
        }

        p {
            width: fit-content;
            margin: 0 !important;
            padding: 0;
        }
    }

    &_1 {
        position: absolute;
        z-index: 2000;
        top: -30px;
        right: 0;

        margin: 0;
        padding: 0;
        border: 0;

        background-color: var(--none);

        &_image {
            width: 20px;
            height: 20px;
        }
    }

    &_2 {
        position: absolute;
        top: 10px;
        left: 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: fit-content;
        padding: 15px;
        border: 3px solid var(--gold);
        border-radius: 50%;

        background-color: var(--primary);
    }

    &_3 {
        position: sticky;
        z-index: 999;
        bottom: 0;
        left: 0;

        width: 100%;
        margin: 0;
        margin-top: auto;
        padding: 0;
        border: 0;

        background-color: var(--transparent);

        &_indicator {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            width: fit-content;
            padding: 5px 10px;
            border-top: 2px solid var(--gold);
            border-right: 2px solid var(--gold);
            border-top-right-radius: 20px;

            background-color: var(--primary);

            &_icon {
                width: 30px;
                height: 30px;
                margin: 0;
            }
        }

        &_text {
            pointer-events: none;

            margin: 0;
            padding: 0;

            font-size: 15px;
            font-weight: 700;
            line-height: 17px;
            color: var(--light);
        }
    }

    &_4 {
        position: absolute;
        z-index: 2000;
        top: -30px;
        right: 20px;

        margin: 0;
        padding: 0;
        border: 0;

        background-color: var(--none);

        &_image {
            width: 20px;
            height: 20px;
        }
    }

    &_5 {
        margin-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-color: var(--gold);
        border-width: 2px;
        border-radius: 15px;

        font-weight: 700;
        color: var(--light);
        text-align: 'center';

        background-color: var(--primary);
    }

    &_6 {
        height: 98px;
        margin-bottom: 20px;
        border: 0;
        background-color: transparent;
    }
}
