.fd_dropdown {
    &_0 {
        position: absolute;
        z-index: 8;
        top: 23px;

        overflow-y: scroll;

        width: inherit;
        min-width: 300px;
        max-height: 170px;
        padding-top: 25px;
        border: solid;
        border-color: var(--gold);
        border-width: 3px !important;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;

        color: #fff;

        background-color: var(--primary);

        &_item {
            position: relative;
            z-index: 7;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 44px;
            margin-bottom: 4px;
            border: 0;

            background-color: transparent;

            &_text {
                font-size: 16px;
                font-weight: 700;
                line-height: 18px;
                color: var(--light);
            }

            &_image {
                position: absolute;
                top: 0;
                left: 0;

                width: 40px;
                height: 40px;
            }
        }
    }

    &_1 {
        position: relative;
        width: 160px;

        &_wrap {
            pointer-events: all;

            position: relative;
            z-index: 2;

            padding: 10px;
            border: 2px solid var(--gold);
            border-radius: 20px;

            background-color: var(--primary);

            &:hover {
                cursor: pointer;
            }
        }

        &_button {
            position: absolute;
            z-index: 11;
            top: 0;
            right: 10px;

            align-content: last baseline;
            justify-content: center;

            height: 100%;
            padding-right: 5px;
            padding-left: 5px;
            border: 0;
            border-color: var(--gold);

            color: #fff;

            background-color: transparent;

            &_content {
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }
        }

        &_menu {
            pointer-events: none;

            position: absolute;

            display: flex;
            flex-direction: column;

            width: 136px;
            margin-top: -26px;
            padding: 30px 10px 10px;
            border: 2px solid var(--gold);
            border-top-width: 0;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 20px;

            background-color: var(--primary);

            &_item {
                pointer-events: all;

                margin: 0;
                padding: 10px 0;

                font-size: 15px;
                font-weight: 700;
                line-height: 17px;
                color: var(--light);

                background-color: var(--primary);

                &:hover {
                    cursor: pointer;
                }
            }

            &_selected {
                color: var(--lightBlue) !important;
            }
        }
    }
}
