.fd_error {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.error {
    &_0 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-height: 200px;
        padding-top: 12px;
        padding-bottom: 44px;

        &_title {
            font-family: var(--unify-sans);
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            color: #303030;
            text-align: center;
        }

        &_btn {
            cursor: pointer;

            padding: 2px 11px;
            border: 1px solid #1e88e5;
            border-radius: 4px;

            font-family: var(--unify-sans);
            font-size: 16px;
            font-weight: 700;
            line-height: 1.5;
            color: #fff;
            text-align: center;

            appearance: none;
            background-color: #1e88e5;

            &_wrap {
                display: flex;
                justify-content: center;
                margin-top: 24px;
            }
        }
    }
}
