.fd_group {
    &_0 {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;

        &_label {
            margin: 0;

            font-size: 11px;
            font-weight: 700;
            line-height: 16px;
            color: var(--light);
            text-align: center;
            text-shadow: 0 0 3px var(--dark);
        }

        &_wrap {
            overflow: hidden;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            width: 50px;
            height: 50px;
            border: 3px solid var(--gold);
            border-radius: 50%;

            background-color: var(--primary);

            &_image {
                width: 50px;
                height: 50px;
            }
        }

        &_wrap_2 {
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 50px;
            height: 50px;
            border: 3px solid var(--gold);
            border-radius: 50%;

            background-color: var(--primary);

            &_streak {
                margin: 0;

                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
                color: var(--light);
                text-align: right;
                text-shadow: 0 0 3px var(--dark);
            }
        }
    }

    &_1 {
        display: flex;
        flex-direction: column;
        padding-top: 50px;

        &_section {
            width: 100%;
        }

        &_accordion {
            overflow: hidden;
            padding: 0 20px;
            border-top: 1px solid var(--gold);
            border-bottom: 1px solid var(--gold);
        }

        &_button {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;

            padding: 15px 0;
            border: 0;

            background-color: transparent;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

            &_content {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                justify-content: flex-start;

                border: 0;

                background-color: transparent;
            }

            &_text {
                margin: 0;
                padding: 0;

                font-size: 15px;
                font-weight: 700;
                line-height: 17px;
                color: var(--light);

                &:hover {
                    cursor: pointer;
                }
            }

            &_selected {
                color: var(--lightBlue) !important;
            }
        }

        &_button_2 {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;

            padding: 10px 0;
            border: 0;

            background-color: transparent;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

            &_content {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                justify-content: flex-start;

                border: 0;

                background-color: transparent;
            }

            &_text {
                margin: 0;
                padding: 0;

                font-size: 15px;
                font-weight: 700;
                line-height: 17px;
                color: var(--light);

                &:hover {
                    cursor: pointer;
                }
            }

            &_selected {
                color: var(--lightBlue) !important;
            }
        }
    }

    &_2 {
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;

        padding-top: 40px;
    }

    &_visibility {
        display: var(--display-google-button, block);
    }

    &_pb_10 {
        padding-bottom: 10px;
    }
}
