.fd_ga {
    &_0 {
        position: relative;

        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        width: 270px;
        margin-bottom: 10px;
        padding: 3px 20px 0;
        border: 3px solid var(--gold);
        border-radius: 20px;
    }

    &_correct {
        background-color: var(--green);
    }

    &_incorrect {
        background-color: var(--red);
    }

    &_text {
        margin-left: 10px;

        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        color: var(--light);
        text-align: center;
        text-shadow: 0 0 4px var(--dark);
        text-transform: capitalize;
    }
}
