.fd_header {
    &_0 {
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        align-items: center;
        justify-content: center;

        width: calc(100% - 30px);
        margin-top: 10px;
        margin-bottom: 10px;
        padding-right: 15px !important;
        padding-left: 15px !important;

        font-size: calc(10px + 2vmin);
    }
}
