.fd_icon {
    &_0 {
        position: absolute;
        z-index: 3;
    }

    &_1 {
        z-index: 5;
        filter: drop-shadow(0 0 3px #000000ba);
    }

    &_2 {
        position: absolute;
        z-index: 3;
        right: 20px;
    }

    &_p_3 {
        padding: 3px;
    }

    &_p_5 {
        padding: 5px;
    }

    &_reverse {
        transform: rotate(180deg);
    }

    &_3 {
        width: 20px;
        height: 20px;
        filter: drop-shadow(0 0 3px #000000ba);
    }

    &_4 {
        width: 18px;
        height: 18px;
        filter: drop-shadow(0 0 3px #000000ba);
    }
}
