.fd_imgstyle {
    &_0 {
        position: relative;

        overflow: hidden;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;

        width: 120px;
        height: 120px;
        border: 3px solid var(--gold);
        border-radius: 50%;

        background-color: var(--primary);
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));

        &_guessed {
            width: 130px;
            height: 130px;
            border-radius: 25px;
        }

        &_hidden {
            width: 50px;
            height: 50px;
            fill: var(--light);
        }

        @media only screen and (max-width: 600px) {
            width: 94px;
            height: 94px;

            &_guessed {
                width: 94px;
                height: 94px;
            }
        }
    }

    &_google {
        width: 200px;
        margin: 0 -13px;
    }

    &_discord {
        height: 70px;
    }

    &_1 {
        position: relative;

        overflow: hidden;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;

        width: 120px;
        height: 120px;
        border: 3px solid var(--gold);
        border-radius: 5px;

        background-color: var(--primary);

        &_guessed {
            width: 120px;
            height: 120px;
            border-radius: 2px;
        }

        &_hidden_table {
            position: absolute;
            inset: 0;

            table-layout: fixed;
            border-collapse: collapse;

            width: 100%;
            height: 100%;

            td {
                width: 50%;
                height: 50%;
                padding: 0;
                border: 0;

                background: transparent;
            }

            &_hidden {
                border: 1px solid var(--primary) !important;
                background: var(--red) !important;
            }
        }
    }
}
