.fd_input {
    &_0 {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        min-width: 300px;
        padding: 5px 0;

        &_wrapper {
            position: relative;
            min-width: 300px;

            input {
                position: relative;
                z-index: 10 !important;

                overflow: visible;

                min-width: 300px;
                height: 44px;
                padding: 0;
                border: solid;
                border-color: var(--gold);
                border-width: 3px;
                border-radius: 60px;

                font-size: 20px;
                font-weight: 600;
                line-height: 22px;
                color: var(--light);
                text-align: center;

                background-color: var(--primary);
            }

            &_button {
                position: absolute;
                z-index: 11;
                right: 10px;

                align-content: last baseline;
                justify-content: center;

                height: 50px;
                padding-right: 5px;
                padding-left: 5px;
                border: 0;
                border-color: var(--gold);

                color: #fff;

                background-color: transparent;

                &_content {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                }

                &_symbol {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
