.fd_logo {
    &_0 {
        aspect-ratio: 335 / 46;
        width: 300px;
        object-fit: contain;

        @media only screen and (max-width: 600px) {
            width: 200px;
        }

        @media only screen and (max-width: 768px) and (min-width: 601px) {
            width: 300px;
        }
    }

    &_1 {
        aspect-ratio: 335 / 46;
        width: 100%;
        max-width: 270px;
    }

    &_2 {
        position: absolute;
        top: calc(50% - 150px);
        left: calc(50% - 150px);

        width: 300px;
        height: 300px;

        filter: brightness(0.3);

        &_fill {
            &_f {
                fill: var(--gold);
            }

            &_d {
                fill: var(--lightBlue);
            }

            &_outline {
                stroke: var(--primary);
            }
        }
    }

    &_3 {
        &_fill {
            &_f {
                fill: var(--gold);
            }

            &_d {
                fill: var(--lightBlue);
            }

            &_outline {
                stroke: var(--primary);
            }
        }
    }

    &_pride {
        &_fill {
            &_1 {
                fill: #e40303;
            }

            &_2 {
                fill: #ff8c00;
            }

            &_3 {
                fill: #ffed00;
            }

            &_4 {
                fill: #008026;
            }

            &_5 {
                fill: #004dff;
            }

            &_6 {
                fill: #750787;
            }

            &_7 {
                fill: #d9aac3;
            }

            &_8 {
                fill: #63a9cf;
            }

            &_9 {
                stroke: #f1f1f1;
            }
        }
    }
}
