.fd_modal {
    $modal: &;

    &_0 {
        position: absolute;
        z-index: 100;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        background-color: rgba(22, 22, 22, 0.605);

        &_mod {
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            min-height: 100px;

            &_content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: fit-content;
                margin: 0 15px;
                padding: 15px;
                border: 3px solid var(--gold) !important;
                border-radius: 20px;

                background-color: var(--primary);

                p {
                    margin: 0;
                    margin-bottom: 10px;
                    padding: 0;

                    color: var(--light);
                    text-align: center;
                }

                &_guesses {
                    margin-bottom: 10px;

                    &_guess {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}
