.fd_modal {
    $modal: &;

    &_0 {
        // position: absolute;
        z-index: 100;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        padding-top: 10px;

        // background-color: rgba(22, 22, 22, 0.605);

        &_mod {
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            min-height: 100px;

            &_content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: fit-content;
                margin: 0 15px;
                padding: 15px;
                border: 3px solid var(--gold) !important;
                border-radius: 20px;

                background-color: var(--primary);

                p {
                    margin: 0;
                    margin-bottom: 10px;
                    padding: 0;

                    color: var(--light);
                    text-align: center;
                }

                &_guesses {
                    margin-bottom: 10px;

                    &_guess {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }

    &_1 {
        position: absolute;
        z-index: 100;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        background-color: rgba(22, 22, 22, 0.605);

        &_mod {
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            min-height: 100px;

            &_content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: fit-content;
                margin: 0 15px;
                padding: 15px;
                border: 3px solid var(--gold) !important;
                border-radius: 20px;

                background-color: var(--primary);

                p {
                    margin: 0;
                    margin-bottom: 10px;
                    padding: 0;

                    color: var(--light);
                    text-align: center;
                }

                &_guesses {
                    margin-bottom: 10px;

                    &_guess {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }

    &_2 {
        position: fixed;
        z-index: 9999;
        inset: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        background: rgba(0, 0, 0, 0.6);

        &_card {
            display: flex;
            flex-direction: column;

            min-height: 330px;
            padding: 20px;
            border: 2px solid var(--gold);
            border-radius: 20px;

            background-color: var(--primary);

            &_title {
                padding-bottom: 10px;

                font-size: 18px;
                font-weight: 700;
                line-height: 20px;
                text-align: center;
            }

            &_close {
                align-self: center;

                width: 100px;
                margin-top: auto;
                padding: 7px 10px;
                border: 2px solid var(--gold);
                border-radius: 150px;

                font-size: 14px;
                font-weight: 600;
                line-height: 16px;
                color: var(--light);

                background-color: var(--primary);
            }
        }
    }
}
