.fd_nav {
    $nav: &;

    &_0 {
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;

        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100vh;

        &_wrap {
            z-index: 1000;

            align-self: center;

            width: 100%;
            max-width: 800px;
            height: 100%;
        }

        #{$nav}_content {
            float: right;

            width: 100%;
            max-width: 600px;
            height: 100%;

            background-color: var(--primary);
        }
        #{$nav}_container {
            position: relative;

            display: flex;
            flex-direction: column;

            height: 100%;
            padding: 20px;
            padding-top: calc(20px + var(--native-safe-top, 0px));
        }
        #{$nav}_button {
            position: absolute;
            z-index: 2000;
            top: calc(21px + var(--native-safe-top, 0px));
            right: 23px;

            margin: 0;
            padding: 0;
            border: 0;

            background-color: var(--none);
        }
    }
}
