.fd_section {
    &_0 {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        min-width: 100vw;
        min-height: 100dvh;
        max-height: 100dvh;
    }

    &_1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
    }

    &_2 {
        padding: 20px 0;
    }
}
