.fd_section {
    &_0 {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        min-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;

        background-color: var(--primary) !important;
    }
}
