.nav-icon {
    width: 30px;
    height: 30px;
}

.nav-container {
    margin-bottom: -1px;
    background-color: var(--primary);
    border-top: 2px solid var(--gray);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    max-height: 70px;
    position: fixed;
    bottom: 0;
    max-width: 800px;
    width: 100%;
    z-index: 90;
}

.nav-button {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.nav-buttonWrap {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 25%;
    height: 70px;
    background-color: transparent;
    border: none;
}

.nav-buttonText {
    font-size: 15px;
    line-height: 17px;
    font-weight: 700;
    color: var(--light);
    margin: 0;
    padding: 0;
}

.nav-isSelectedText {
    color: var(--lightBlue) !important;
}

.mobile-nav-wrap {
    width: 100%;
    max-width: 600px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
}

.mobile-nav {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
}

.mobile-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
}

.mobile-buttons-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.mobile-logo {
    width: 100%;
    max-width: 270px;
}

.mobile-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    gap: 10px;
}

.mobile-buttonWrap {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 25%;
    padding: 15px 0;
    background-color: transparent;
    border: none;
}

.mobile-buttonText {
    font-size: 15px;
    line-height: 17px;
    font-weight: 700;
    color: var(--light);
    margin: 0;
    padding: 0;
}

.mobile-close {
    top: 20px;
    right: 20px;
}

.mobile-menu-button {
    position: absolute;
    width: fit-content;
    top: 10px;
    left: 10px;
    padding: 15px;
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--gold);
}

.mobile-menu-button img {
    width: 20px;
    height: 20px;
}

.mobile-google-icon {
    width: 200px;
    margin: 0 -13px;
}
.mobile-discord-icon {
    height: 70px;
}

.mobile-social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
}

.mobile-button-indicator {
    border: 0;
    background-color: var(--transparent);
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2000;
}

.mobile-indicator-icon {
    margin: 0;
}

.mobile-indicator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    background-color: var(--primary);
    border-top-right-radius: 20px;
    border-top: 2px solid var(--gold);
    border-right: 2px solid var(--gold);
}

@media screen and (max-width: 768px) {
    .nav-container {
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .mobile-nav-wrap {
        display: none;
    }
    .mobile-menu-button {
        display: none;
    }
    .mobile-button-indicator {
        display: none;
    }
}
