.nav-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.nav-container {
    background-color: var(--primary);
    border-top: 2px solid var(--gray);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    max-height: 70px;
    position: fixed;
    bottom: 0;
    max-width: 800px;
    width: 100%;
    z-index: 90;
}

.nav-button {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.nav-buttonWrap {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 25%;
    height: 70px;
    background-color: transparent;
    border: none;
}

.nav-buttonText {
    font-size: 15px;
    line-height: 17px;
    font-weight: 700;
    color: var(--light);
    margin: 0;
    padding: 0;
}

.nav-isSelectedText {
    color: var(--lightBlue);
}
