.gr-imageExports {
    margin: 0;
    padding: 0;
    width: 20 !important;
    height: 20 !important;
}
.imageExports {
    z-index: 5;
    filter: drop-shadow(0 0 3px #000000ba);
}

.gr-container {
    border-top-width: 1px;
    border-left-width: 1px;
    border-color: var(--primary);
    /* width: 497px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px;
}

.gr-box {
    width: 70px !important;
    height: 70px !important;
    aspect-ratio: 1/1;
    border: solid;
    border-width: 0.5px;
    border-color: var(--primary);
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
}

.gr-correct {
    background-color: var(--green);
}

.gr-incorrect {
    background-color: var(--red);
}

.gr-partial {
    background-color: var(--orange);
}

.cb-pro-gr-correct {
    background-color: var(--pro-green);
}

.cb-pro-gr-incorrect {
    background-color: var(--pro-red);
}

.cb-pro-gr-partial {
    background-color: var(--pro-orange);
}

.cb-deu-gr-correct {
    background-color: var(--deu-green);
}

.cb-deu-gr-incorrect {
    background-color: var(--deu-red);
}

.cb-deu-gr-partial {
    background-color: var(--deu-orange);
}

.cb-tri-gr-correct {
    background-color: var(--tri-green);
}

.cb-tri-gr-incorrect {
    background-color: var(--tri-red);
}

.cb-tri-gr-partial {
    background-color: var(--tri-orange);
}

.cb-acro-gr-correct {
    background-color: var(--acro-green);
}

.cb-acro-gr-incorrect {
    background-color: var(--acro-red);
}

.cb-acro-gr-partial {
    background-color: var(--acro-orange);
}

.gr-text {
    color: var(--light);
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    padding: 0;
    margin: 0;
    z-index: 5;
    text-shadow: 0 0 3px #000000ba;
}

.gr-arrow {
    z-index: 4;
    position: absolute;
}

.gr-lowerArrow {
    transform: rotate(180deg);
}

.gr-multiplePolarities {
    flex-direction: row;
    z-index: 5;
}
