.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.605);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modalWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--primary);
    border: 3px solid var(--gold) !important;
    border-radius: 20px;
    padding: 15px 15px;
    margin: 0 15px;
}

.modal p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    color: var(--light);
    text-align: center;
}

.modal-guesses {
    margin-bottom: 10px;
}

.guess {
    margin-bottom: 0 !important;
}

.close-button {
    z-index: 2000;
    position: absolute;
    background-color: var(--none);
    border: 0;
    top: -30px;
    right: 0;
    margin: 0;
    padding: 0;
}

.close-button img {
    width: 20px;
    height: 20px;
}
