.tableHeaders {
    /* width: 497px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px;
}

.tableSection {
    width: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--light);
    margin-left: 5px;
    margin-right: 5px;
}

.tableHeadersText {
    font-size: 14px;
    line-height: 16px;
    color: var(--light);
    text-align: center;
    margin: 1px;
}
