:root {
    --dark: #000000;
    --light: #ffffff;
    --primary: #090c27;

    --red: #ff2400;
    --lightBlue: #0092db;
    --green: #00b643;
    --orange: #ff9d00;

    --gold: #ffd700;
    --darkBlue: #000080;
    --gray: #707070;

    --none: transparent;
}

main {
    background-color: var(--primary);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: unset;
}

a:hover {
    cursor: pointer !important;
}

button:hover {
    cursor: pointer !important;
}

h1 {
    display: none;
}

button {
    outline: none;
}

input {
    outline: none;
}

span :hover {
    cursor: default !important;
}
