:root {
    --dark: #000000;
    --light: #ffffff;
    --primary: #090c27;

    --red: #ff2400;
    --green: #00b643;
    --orange: #ff9d00;
    --lightBlue: #0092db;

    --gold: #ffd700;
    --darkBlue: #000080;
    --gray: #707070;

    --none: transparent;

    --pro-red: #d7263d;
    --pro-green: #0075ff;
    --pro-orange: #ffae00;

    --deu-red: #c9243f;
    --deu-green: #2a9df4;
    --deu-orange: #a29708;

    --tri-red: #c72040;
    --tri-green: #00c49a;
    --tri-orange: #ff6f00;

    --acro-red: #333333;
    --acro-green: #828282;
    --acro-orange: #505050;
}

main {
    background-color: var(--primary);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: unset;
}

a:hover {
    cursor: pointer !important;
}

button:hover {
    cursor: pointer !important;
}

h1 {
    position: absolute;
    right: 0;
    font-size: 20px;
    pointer-events: none;
    color: transparent;
}

button {
    outline: none;
}

input {
    outline: none;
}

span :hover {
    cursor: default !important;
}
