/* stylelint-disable @stylistic/declaration-colon-space-after */
/* stylelint-disable @stylistic/string-quotes */
@use "global/reset";

:root {
    --dark: #000;
    --light: #fff;
    --primary: #090c27;

    --red: #cb1e04;
    --green: #00b643;
    --orange: #ff9d00;
    --lightBlue: #0092db;

    --gold: #ffd700;
    --darkBlue: #000080;
    --gray: #707070;

    --none: transparent;

    --pro-red: #d7263d;
    --pro-green: #0075ff;
    --pro-orange: #ffae00;

    --deu-red: #c9243f;
    --deu-green: #2a9df4;
    --deu-orange: #a29708;

    --tri-red: #c72040;
    --tri-green: #00c49a;
    --tri-orange: #ff6f00;

    --acro-red: #333;
    --acro-green: #828282;
    --acro-orange: #505050;
}

main {
    background-color: var(--primary);
}

body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: unset;
}

a:hover {
    cursor: pointer !important;
}

button:hover {
    cursor: pointer !important;
}

h1 {
    pointer-events: none;

    position: absolute;
    top: -100px;
    right: 0;

    font-size: 20px;
}

.dont {
    pointer-events: none;

    position: absolute;
    top: -100px;
    right: 0;

    font-size: 20px;
}

button {
    outline: none;
}

input {
    outline: none;
}

span :hover {
    cursor: default !important;
}

body {
    color: #fff;
}

.gr-correct {
    background-color: var(--green);
}

.gr-incorrect {
    background-color: var(--red);
}

.gr-partial {
    background-color: var(--orange);
}

//COLORBLIND COLORS

.cb-pro-gr-correct {
    background-color: var(--pro-green);
}

.cb-pro-gr-incorrect {
    background-color: var(--pro-red);
}

.cb-pro-gr-partial {
    background-color: var(--pro-orange);
}

.cb-deu-gr-correct {
    background-color: var(--deu-green);
}

.cb-deu-gr-incorrect {
    background-color: var(--deu-red);
}

.cb-deu-gr-partial {
    background-color: var(--deu-orange);
}

.cb-tri-gr-correct {
    background-color: var(--tri-green);
}

.cb-tri-gr-incorrect {
    background-color: var(--tri-red);
}

.cb-tri-gr-partial {
    background-color: var(--tri-orange);
}

.cb-acro-gr-correct {
    background-color: var(--acro-green);
}

.cb-acro-gr-incorrect {
    background-color: var(--acro-red);
}

.cb-acro-gr-partial {
    background-color: var(--acro-orange);
}
